.clear {
  clear:both;
}
.clear15 {
  clear: both;
  height: 15px;
}

.clear20 {
  clear: both;
  height: 20px;
}

.clear2050 {
  clear: both;
  height: 20px;
  padding-top: 50px;
}

.clear20-border {
  clear: both;
  height: 20px;
  border-bottom: 1px dotted #cccccc;
}