$font-stack: Verdana, Geneva, sans-serif;
$color: #25a7df;

.selected-filter-item-underlined {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: normal;
  color: $color;
  text-decoration: none;
  border-bottom: 1px dashed $color;
}

.selected-filter-item {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
}

.inline-block-div {
  display: inline-block;
}

.filter-spacer {
  display: inline-block;
  width: 20px;
}

.filter-block {
  display:inline;
  font-family: $font-stack;
  font-weight: normal;
  padding-left: 20px;
}