$font-stack: Verdana, Geneva, sans-serif;
$color: #25a7df;

.selectedFilterItemUnderlined {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: normal;
  color: $color;
  text-decoration: none;
  border-bottom: 1px dashed $color;
}

.selectedFilterItem {
  font-family: $font-stack;
  font-size: 20px;
  font-weight: normal;
  color: #333333;
  text-decoration: none;
}

.inlineBlockDiv {
  display: inline-block;
}

.filterSpacer {
  display: inline-block;
  width: 20px;
}

.filterBlock {
  display:inline;
  font-family: $font-stack;
  font-weight: normal;
  padding-left: 20px;
}