.full-order-info {
  display: none;
}

.order-information {
  display: inline;
  width: 1000px;
  div{
    padding-top: 15px;
    padding-right: 10px;
    text-align: right;
  }
}

.items-col {
  display: table-cell;
  width: 560px;
  padding-left: 5px;
  font-weight: bold;
}

.number-col {
  display: table-cell;
  width: 110px;
  font-weight: bold;
}

.price-col {
  display: table-cell;
  width: 240px;
  font-weight: bold;
  div{
    vertical-align: middle;
    text-align: right;
    padding-right: 10px;
  }
}

.items-col-content {
  display: table-cell;
  width: 560px;
  padding-bottom: 5px;
  padding-left: 5px;

}

.item-info{
  padding-top: 20px;
  vertical-align: top;
}

.bonuses {
  padding-top: 17px;
}

.order-summary {
  text-align:right;
  padding-top: 17px;
  padding-right: 10px;
}

.number-col-content {
  display: table-cell;
  width: 110px;
  text-align: center;
  font-weight: normal;
  vertical-align: top;
  padding-top: 20px;
}

.price-col-content {
  display: table-cell;
  width: 240px;
  vertical-align: top;
}

.order-info-field {
  display: inline-block;

  color: #999999;
  margin-right: 5px;
  padding-left: 5px;
  vertical-align: top;
}

.order-info-field-values {
  display: inline-block;
  position: relative;
}

.book-info {
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
  width: 310px;
  span{
    vertical-align: top;
    font-size: 12px;
  }
}

.book-price {
  padding-top:20px;
  text-align: right;
  padding-right: 10px;
}

.left {
  text-align: left !important;
}

.is-item-book {
  position: absolute;
  margin-left: -8px;
  margin-top: -15px;
}
