<div style="display:inline;font-family: Verdana;font-weight: normal;padding-left: 20px;">
    <div style="display: inline-block;"><h2 id="allOrders"><a href="#" class="selectedFilterItem">Все заказы</a></h2>
    </div>
    <div style="display: inline-block; width: 20px;"></div>
    <div style="display: inline-block;"><h2 id="currentOrders"><a href="#"
                                                                  class="selectedFilterItemUnderlined">Текущие</a></h2>
    </div>
    <div style="display: inline-block; width: 20px;"></div>
    <div style="display: inline-block;"><h2 id="completedOrders"><a href="#" class="selectedFilterItemUnderlined">Завершенные</a>
    </h2></div>
    <div style="display: inline-block; width: 20px;"></div>
    <div style="display: inline-block;"><h2 id="cancelledOrders"><a href="#" class="selectedFilterItemUnderlined">Отмененные</a>
    </h2></div>
</div>