<div class="filterBlock">
    <div class="inlineBlockDiv"><h2 id="allOrders"><a href="#" class="selectedFilterItem">Все заказы</a></h2>
    </div>
    <div class="filterSpacer"></div>
    <div class="inlineBlockDiv"><h2 id="currentOrders"><a href="#"
                                                                  class="selectedFilterItemUnderlined">Текущие</a></h2>
    </div>
    <div class="filterSpacer"></div>
    <div class="inlineBlockDiv"><h2 id="completedOrders"><a href="#" class="selectedFilterItemUnderlined">Завершенные</a>
    </h2></div>
    <div class="filterSpacer"></div>
    <div class="inlineBlockDiv"><h2 id="cancelledOrders"><a href="#" class="selectedFilterItemUnderlined">Отмененные</a>
    </h2></div>
</div>