
    <div class="table">
        <div class="heading">
            <div class="column-one">
                <p>Дата заказа <img src="images/sort-arrow.png"/></p>
            </div>
            <div class="column-two">
                <p>№ заказа</p>
            </div>
            <div class="column-three">
                <p>Текущий статус</p>
            </div>
        </div>
        <div id="ordersSection"></div>
    </div>
