<div class="filterBlock">
    <div class="inlineBlockDiv"><h2 id="allOrders" class="filter"><a href="#" class="selectedFilterItem">Все заказы</a></h2>
    </div>
    <div class="filterSpacer"></div>
    <div class="inlineBlockDiv"><h2 id="currentOrders" class="filter"><a href="#"
                                                          class="selectedFilterItemUnderlined">Текущие</a></h2>
    </div>
    <div class="filterSpacer"></div>
    <div class="inlineBlockDiv"><h2 id="completedOrders" class="filter"><a href="#" class="selectedFilterItemUnderlined">Завершенные</a>
    </h2></div>
    <div class="filterSpacer"></div>
    <div class="inlineBlockDiv"><h2 id="cancelledOrders" class="filter"><a href="#" class="selectedFilterItemUnderlined">Отмененные</a>
    </h2></div>
</div>
<div id="orderList">
    <div class="table">
        <div class="heading">
            <div class="columnone">
                <p>Дата заказа <img src="images/sort-arrow.png"/></p>
            </div>
            <div class="columntwo">
                <p>№ заказа</p>
            </div>
            <div class="columnthree">
                <p>Текущий статус</p>
            </div>
        </div>
        <div id="ordersSection"></div>
    </div>
</div>