<div class="filter-block">
    <div class="inline-block-div"><h2 id="allOrders" class="filter"><a href="#" class="selected-filter-item">Все заказы</a></h2>
    </div>
    <div class="filter-spacer"></div>
    <div class="inline-block-div"><h2 id="currentOrders" class="filter"><a href="#"
                                                          class="selected-filter-item-underlined">Текущие</a></h2>
    </div>
    <div class="filter-spacer"></div>
    <div class="inline-block-div"><h2 id="completedOrders" class="filter"><a href="#" class="selected-filter-item-underlined">Завершенные</a>
    </h2></div>
    <div class="filter-spacer"></div>
    <div class="inline-block-div"><h2 id="cancelledOrders" class="filter"><a href="#" class="selected-filter-item-underlined">Отмененные</a>
    </h2></div>
</div>
<div id="orderList">
    <div class="table">
        <div class="heading">
            <div class="column-one">
                <p>Дата заказа <img src="images/sort-arrow.png"/></p>
            </div>
            <div class="column-two">
                <p>№ заказа</p>
            </div>
            <div class="column-three">
                <p>Текущий статус</p>
            </div>
        </div>
        <div id="ordersSection"></div>
    </div>
</div>