<div class="Table">
<div class="Heading">
    <div class="columnone">
        <p>Дата заказа <img src="images/sort-arrow.png"/></p><!--&darr; -->
    </div>
    <div class="columntwo">
        <p>№ заказа</p>
    </div>
    <div class="columnthree">
        <p>Текущий статус</p>
    </div>
</div>
<div id="ordersSection"></div>
</div>